@model OCASIA.Meeting.DAL.ForgotPasswordViewModel
@{
    ViewBag.Title = "Reset your password";
}

<div class="login-page">
    <div class="login-wrapper">

        @using (Ajax.BeginForm("ForgotPassword", "Account", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "Msg", InsertionMode = InsertionMode.Replace, OnComplete = "Close()" }, new { }))
        {
            @Html.AntiForgeryToken()
            <h3 class="logintitle">Reset your password</h3>
            <hr />
            @Html.Partial("_Msg")

            <div class="form-group emailicon">
                <label >Please enter your recover email.</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Email, new { @placeholder = "Enter your email address", @class = "form-control", @autofocus = "autofocus", @autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    <span class="SuccessEmail"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    <button type="submit" class="btn loginbtn form-control">Send an email</button>
                </div>
            </div>
            <hr />
            <p class="clearfix text-center">
                <a href="@Url.Action("Login","Account")" class="goto-forgot pull-center">← Back to login form</a>
            </p>

        }
    </div>
</div>
<style>
    .emailicon {
        position: relative;
    }

    .SuccessEmail {
        position: absolute;
        top: 40px;
        right: 15px;
    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $("#navbar").hide();
        $("body").addClass("modal-open", "");
        Close = function () {
            $("#Email").val('');
            setTimeout('$(".autohide").hide()', 5000);
            $("body").addClass("modal-open", "");
            $('#Email').css('border', '');
            $(".Email").html('');
            $(".SuccessEmail").html('');
            $(".SuccessEmail").removeAttr('title', '');
        }
        $("#Email").blur(function () {
            $(".Email").html('');
            $(".SuccessEmail").html('');
            $(".SuccessEmail").removeAttr('title', '');
            var email = $(this).val();
            if (email) {
                $.post("@Url.Action("IsAvailableUserAndEmail", "Account")", { "Email": email }, function (responseText) {
                    if (responseText.Status == "1") {
                        $('#Email').css('border', '0.5px solid #3c763d');
                        $(".SuccessEmail").html('');
                        $(".SuccessEmail").removeAttr('title', '');
                        $(".SuccessEmail").html('<i class="fa fa-check-circle-o fa-2x text-success"></i>');
                        $(".SuccessEmail").attr('title', 'Registered Email');

                    } if (responseText.Status == "0") {
                        $('#Email').css('border', '0.5px solid #8a6d3b');
                        $(".SuccessEmail").html('');
                        $(".SuccessEmail").removeAttr('title', '');
                        $(".SuccessEmail").html('<i class="fa fa-times-circle-o fa-2x text-warning"></i>');
                        $(".SuccessEmail").attr('title', 'Not Registered Email');
                    }
                });

            }
        });

    </script>
}
